.formbook{
    width: 500px;
}

.formbook .form,
.formbook .infor{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: white;
    padding: 15px 30px;
}

.formbook .infor{
    margin-bottom: 15px;
}

.formbook .title{
    font-size: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}

.formbook .title::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 1px;
    background-color: white;
    bottom: 0;
}

.formbook .detail{
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.formbook .detail .item{
    display: flex;
    gap: 10px;
    align-items: center;
}

.formbook .detail .item figure{
    height: 24px;
} 

.formbook .detail .item figure img{
    height: 24px;
}

.formbook .infor .detail .item .sub-title{
    min-width: 80px;
}

.formbook .form .detail .item .sub-title{
    min-width: 110px;
}

.formbook .infor .detail .item .content{
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
}

.formbook .form .detail{
    margin-bottom: 15px;
}

.formbook .form .item fieldset{
    flex-grow: 1;
    width: 100%;
}

.formbook .form .item fieldset input{
    width: -webkit-fill-available;
    height: 30px;
    background-color: #d9d9d9;
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
}

.formbook .form .note{
    font-size: 12px;
    font-style: italic;
    padding-left: 155px;
    margin-top: -10px;
}

.formbook .btn-submit{
    background-color: #26BEC8;
    width: 136px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 8px;
    justify-self: end;
}